.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.card__delete-btn {
  background-image: url(../images/icons/delete_default.svg);
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__delete-btn:hover {
  background-image: url(../images/icons/delete_hover.svg);
}

.card__like-btn {
  background-image: url(../images/icons/heart.svg);
  width: 23px;
  height: 20px;
  background-color: transparent;
  border: none;
  opacity: 40%;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card__like-btn_liked {
  background-image: url(../images/icons/liked.svg);
  color: #ff6565;
  opacity: 100%;
}

.card__like-btn.card__like-btn_liked:hover {
  opacity: 50%;
}

.card__like-btn:hover {
  opacity: 100%;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.card {
  max-width: 413px;
  position: relative;
}

.card__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: calc(413px - 23px - 37px);
  margin: 0;
}

@media screen and (max-width: 627px) {
  .card__like-btn {
    width: 20px;
    height: 18px;
  }

  .card {
    max-width: 288px;
    width: 100%;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__text {
    font-size: 16px;
    max-width: calc(288px - 23px - 37px);
  }
}
