.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.4);
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  padding: 0 10px;
  box-sizing: border-box;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  position: relative;
  background-color: #ffffff;
  opacity: 1;
  max-width: 730px;
  border-radius: 8px;
  padding: 32px 50px;
  width: 100%;
}

.modal__image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  border: none;
  background-image: url(../images/icons/close.svg);
  background-color: transparent;
  opacity: 0.4;
  padding: 0;
  width: 40px;
  height: 40px;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  margin: 0 0 32px;
  color: #212121;
}

.modal__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0%;
  color: rgba(33, 33, 33, 0.7);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__input {
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 16px 12px;
  gap: 10px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input::placeholder {
  opacity: 0.3;
  color: #212121;
}

.modal__input::target-text {
  opacity: 1;
}

.modal__submit {
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #212121;
  color: #ffffff;
  max-width: 156px;
  padding: 18px 32px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  transition: opacity 0.3s ease-in-out;
}

.modal__submit:hover:not([disabled]) {
  opacity: 0.8;
}

.modal__submit_type_disabled {
  opacity: 0.5;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
}

.modal__caption {
  max-width: 85vw;
  width: fit-content;
  height: fit-content;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  color: #ffffff;
  background-color: #212121;
  border-radius: 8px;
  padding: 4px 8px;
  white-space: normal;
  word-wrap: break-word;
}

.modal__close-btn_type_preview {
  top: 0;
  right: calc(-12.5px - 40px);
  background-image: url(../images/icons/close_image.svg);
  opacity: 1;
  padding: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.modal__error {
  display: none;
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 0, 0, 0.7);
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
}

.modal__error_visible {
  display: block;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    padding: 10px 0 10px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
  .modal__save-btn {
    max-width: 100%;
    border-radius: 8px;
    padding-top: 18px;
    padding-right: 32px;
    padding-bottom: 18px;
    padding-left: 32px;
    gap: 8px;
  }

  .modal__form {
    gap: 24px;
  }

  .modal__close-btn_type_preview {
    z-index: 999;
    right: -16px;
    top: -48px;
  }

  .modal__image {
    max-width: 90vw;
  }
}
